.bottom_actions {
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 50px;
  justify-content: center;
  position: relative;
}
.next_group,
.show_more {
  border: none;
  width: 170px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: space-around;
  &:hover {
    filter: brightness(1.2);
    background-color: var(--color-2);
    color: white;
  }
}
.next_group {
  justify-self: flex-end !important;
  position: absolute;
  align-self: center;
  right: 10px;
}
