.config_wrapper_sizer {
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 10px;
  height: -moz-fit-content;
  height: fit-content;
}
.config_wrapper_sizer h4 {
  color: crimson !important;
}
.config_wrapper_sizer h2,
.config_wrapper_sizer h4 {
  display: flex;
  justify-self: center;
}
.config_wrapper_sizer .container {
  width: 100vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.config_wrapper_sizer .container_small {
  height: 85px;
  z-index: 3;
}
.config_wrapper_sizer .container_big {
  height: 250px;
}
.config_wrapper_sizer .container_small, .config_wrapper_sizer .container_big {
  padding-right: 20px;
  position: relative;
  display: grid;
  align-items: center;
}
.config_wrapper_sizer .container_small_shell, .config_wrapper_sizer .container_big_shell {
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
.config_wrapper_sizer .container_small #right_line, .config_wrapper_sizer .container_big #right_line {
  position: absolute;
  right: 15%;
  height: 80%;
  border: 1px solid black;
  width: 1px;
  display: flex;
  align-items: center;
}
.config_wrapper_sizer .container_small #right_line span, .config_wrapper_sizer .container_big #right_line span {
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -3px;
  font-size: 14px;
  color: crimson;
  font-weight: 600;
  position: relative;
  left: 5px;
}
.config_wrapper_sizer .container_small #right_line::before, .config_wrapper_sizer .container_big #right_line::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid var(--color-1);
}
.config_wrapper_sizer .container_small #right_line::after, .config_wrapper_sizer .container_big #right_line::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid var(--color-1);
}
.config_wrapper_sizer .container #bottom_line {
  border: 1px solid black;
  width: 60%;
  position: relative;
  left: 18%;
  margin-top: 7px;
  display: flex;
  justify-content: center;
}
.config_wrapper_sizer .container #bottom_line span {
  position: absolute;
  top: 5px;
  font-size: 14px;
  color: crimson;
  font-weight: 600;
}
.config_wrapper_sizer .container #bottom_line::before,
.config_wrapper_sizer .container #bottom_line::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 5px solid transparent;
}
.config_wrapper_sizer .container #bottom_line::before {
  left: -10px;
  border-right-color: black;
}
.config_wrapper_sizer .container #bottom_line::after {
  right: -10px;
  border-left-color: black;
}
.config_wrapper_sizer #untenoben .container_big {
  order: 1;
}
.config_wrapper_sizer #untenoben .container_small {
  order: 2;
}
.config_wrapper_sizer #untenoben #bottom_line {
  order: 3;
}
.config_wrapper_sizer #untenoben #inputs {
  order: 4;
}
.config_wrapper_sizer #inputs {
  background-color: silver;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  row-gap: 10px;
  justify-self: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 5px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  left: 15%;
  margin-top: 30px;
}
.config_wrapper_sizer #inputs #input_line {
  display: grid;
  align-items: center;
  grid-template-columns: 60px 190px;
}
.config_wrapper_sizer #inputs #input_line input {
  padding: 3px 5px;
}

@media (max-width: 767.98px) {
  .config_wrapper_sizer {
    order: 2;
  }
}
@media (max-width: 499px) {
  .config_wrapper_sizer .container #right_line {
    right: 12%;
  }
}/*# sourceMappingURL=Sizer.module.css.map */