.config_wrapper_sizer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 10px;
  h4 {
    color: crimson !important;
  }

  #obenunten {
    overflow: hidden;
    padding-left: 20px;
    #first_image {
      height: 130px;
      overflow: hidden;
      img {
        position: relative;
        top: -80px;
      }
    }
    #second_image {
      overflow: hidden;
      height: 200px;
      img {
        position: relative;
        top: -55px;
      }
      #right_line {
        height: 70%;
        top: 15%;
      }
    }
  }

  #untenoben {
    padding-left: 20px;
    position: relative;
    #first_image {
      height: 240px;
      overflow: hidden;
      z-index: 2;
      img {
        position: relative;
        top: -15px;
      }
      #top_line {
        top: 20px;
      }
      #right_line {
        top: 25%;
      }
    }
    #second_image {
      height: 130px;
      overflow: hidden;
      position: relative;
      top: -30px;
      img {
        position: relative;
        top: -70px;
      }
      #right_line {
        z-index: 9;
        top: 30%;
      }
    }
  }

  #left {
    h3 {
      color: gray;
    }
    #entries {
      display: grid;
      margin-top: 20px;
      label {
        line-height: 30px;
        font-size: 15px;
        font-weight: bold;
      }
      input {
        height: 40px;
        padding-left: 10px;
        max-width: 600px;
      }
    }
  }

  #right {
    position: relative;
    display: flex;
    justify-content: center;
    height: fit-content;

    #top_line {
      position: absolute;
      border: 1px solid var(--color-1);
      top: 10%;
      width: 70%;
      left: 15%;
      height: 2px;
      display: flex;
      justify-content: center;

      span {
        position: absolute;
        top: -20px;
        font-size: small;
        font-weight: bold;
      }
    }

    /* Left Arrowhead */
    #top_line::before {
      content: '';
      position: absolute;
      left: -5px;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 8px solid var(--color-1);
    }

    /* Right Arrowhead */
    #top_line::after {
      content: '';
      position: absolute;
      right: -5px;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 8px solid var(--color-1);
    }

    #right_line {
      position: absolute;
      border: 1px solid var(--color-1);
      right: 5%;
      top: 20%;
      height: 60%;
      display: flex;
      align-items: center;

      span {
        position: absolute;
        right: -20px;
        font-size: small;
        writing-mode: vertical-rl;
        text-orientation: upright;
        letter-spacing: -2px;
        font-weight: bold;
      }
    }

    /* Top Arrowhead */
    #right_line::before {
      content: '';
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%) rotate(0deg);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 8px solid var(--color-1);
    }

    /* Bottom Arrowhead */
    #right_line::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%) rotate(180deg);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 8px solid var(--color-1);
    }
  }
}

@media (max-width: 767.98px) {
  .config_wrapper_sizer {
    order: 2;
  }
}
