.sizer {
  display: grid;
  justify-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 20px;
  width: 100%;
}
.sizer input {
  padding: 1px 5px;
  border: 1px solid silver;
  width: 70px;
  height: 20px;
  font-size: 12px !important;
  margin-top: 3px;
  flex: 1;
  min-width: 0;
  transition: border 0.4s ease;
}
.sizer input:focus {
  outline: none;
}
.sizer input[type=number]::-webkit-inner-spin-button,
.sizer input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.sizer .warn {
  border: 1px dashed crimson;
  animation: attention 0.7s infinite;
}
.sizer #single,
.sizer #oberlicht {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 270px;
  position: relative;
}
.sizer #single #central_holder,
.sizer #oberlicht #central_holder {
  position: relative;
}
.sizer #single #central_holder #heights,
.sizer #oberlicht #central_holder #heights {
  position: absolute;
  top: 0;
  left: 220px;
  height: 100%;
  z-index: 9;
  transition: width 0.5s ease;
}
.sizer #single #central_holder #heights #height_oben,
.sizer #single #central_holder #heights #height_unten,
.sizer #single #central_holder #heights #height_total,
.sizer #oberlicht #central_holder #heights #height_oben,
.sizer #oberlicht #central_holder #heights #height_unten,
.sizer #oberlicht #central_holder #heights #height_total {
  display: grid;
  font-size: small;
  position: relative;
  top: 15px;
}
.sizer #single #central_holder #heights #height_oben h5,
.sizer #single #central_holder #heights #height_unten h5,
.sizer #single #central_holder #heights #height_total h5,
.sizer #oberlicht #central_holder #heights #height_oben h5,
.sizer #oberlicht #central_holder #heights #height_unten h5,
.sizer #oberlicht #central_holder #heights #height_total h5 {
  display: grid;
}
.sizer #single #central_holder #heights #height_oben h5 #range,
.sizer #single #central_holder #heights #height_unten h5 #range,
.sizer #single #central_holder #heights #height_total h5 #range,
.sizer #oberlicht #central_holder #heights #height_oben h5 #range,
.sizer #oberlicht #central_holder #heights #height_unten h5 #range,
.sizer #oberlicht #central_holder #heights #height_total h5 #range {
  font-size: 11px !important;
  color: gray;
  font-weight: 100;
}
.sizer #single #central_holder #heights #height_unten,
.sizer #oberlicht #central_holder #heights #height_unten {
  top: 70px;
}
.sizer #single #central_holder #heights #height_total,
.sizer #oberlicht #central_holder #heights #height_total {
  position: absolute;
  top: 30%;
  right: -100px;
}
.sizer #single .small,
.sizer #oberlicht .small {
  height: 60px;
  z-index: 3;
  position: relative;
  top: 8px;
}
.sizer #single .big,
.sizer #oberlicht .big {
  height: 160px;
}
.sizer #single .small,
.sizer #single .big,
.sizer #oberlicht .small,
.sizer #oberlicht .big {
  padding-right: 20px;
  position: relative;
  display: grid;
  align-items: center;
}
.sizer #single .small_shell,
.sizer #single .big_shell,
.sizer #oberlicht .small_shell,
.sizer #oberlicht .big_shell {
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
.sizer #single .small .heightHolder,
.sizer #single .big .heightHolder,
.sizer #oberlicht .small .heightHolder,
.sizer #oberlicht .big .heightHolder {
  position: absolute;
  left: 83%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: padding 0.3s ease;
}
.sizer #single .small .heightHolder p,
.sizer #single .big .heightHolder p,
.sizer #oberlicht .small .heightHolder p,
.sizer #oberlicht .big .heightHolder p {
  position: absolute;
  left: -5px;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  transition: width 0.3s ease;
}
.sizer #single .small .heightHolder #height_line,
.sizer #single .big .heightHolder #height_line,
.sizer #oberlicht .small .heightHolder #height_line,
.sizer #oberlicht .big .heightHolder #height_line {
  display: grid;
  font-size: small;
  margin-left: 15px;
}
.sizer #single .small .heightHolder #height_line h5,
.sizer #single .big .heightHolder #height_line h5,
.sizer #oberlicht .small .heightHolder #height_line h5,
.sizer #oberlicht .big .heightHolder #height_line h5 {
  display: grid;
}
.sizer #single .small .heightHolder #height_line h5 #range,
.sizer #single .big .heightHolder #height_line h5 #range,
.sizer #oberlicht .small .heightHolder #height_line h5 #range,
.sizer #oberlicht .big .heightHolder #height_line h5 #range {
  font-size: 11px !important;
  color: gray;
  font-weight: 100;
}
.sizer #single #right_line,
.sizer #oberlicht #right_line {
  position: absolute;
  height: 80%;
  border: 1px solid black;
  width: 1px;
  display: flex;
  align-items: center;
}
.sizer #single #right_line span,
.sizer #oberlicht #right_line span {
  font-size: 12px;
  color: var(--color-1);
  font-weight: 600;
  position: relative;
  left: -30px;
}
.sizer #single #right_line::before,
.sizer #oberlicht #right_line::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid var(--color-1);
}
.sizer #single #right_line::after,
.sizer #oberlicht #right_line::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid var(--color-1);
}
.sizer #single #bottom_line,
.sizer #oberlicht #bottom_line {
  border: 1px solid black;
  height: 1px;
  width: 60%;
  position: relative;
  left: 17%;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
.sizer #single #bottom_line #width,
.sizer #single #bottom_line #bottom_width,
.sizer #oberlicht #bottom_line #width,
.sizer #oberlicht #bottom_line #bottom_width {
  position: absolute;
  top: 5px;
  font-size: 12px;
  color: var(--color-1);
  font-weight: 600;
}
.sizer #single .obenunten_rightline,
.sizer #oberlicht .obenunten_rightline {
  right: -15% !important;
  top: 5%;
  height: 90% !important;
}
.sizer #single #bottom_line::before,
.sizer #single #bottom_line::after,
.sizer #oberlicht #bottom_line::before,
.sizer #oberlicht #bottom_line::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 5px solid transparent;
}
.sizer #single #bottom_line::before,
.sizer #oberlicht #bottom_line::before {
  left: -10px;
  border-right-color: black;
}
.sizer #single #bottom_line::after,
.sizer #oberlicht #bottom_line::after {
  right: -10px;
  border-left-color: black;
}
.sizer .multi_widths {
  padding: 0 40px;
  padding-right: 60px;
  transition: height 0.4s ease;
  overflow: hidden;
}
.sizer .multi_widths_inputs {
  display: flex;
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.sizer #untenoben .container_big {
  order: 1;
}
.sizer #untenoben .container_small {
  order: 2;
  top: -7px;
}
.sizer #untenoben #bottom_line {
  order: 3;
}
.sizer #untenoben #inputs {
  order: 4;
}
.sizer #inputs {
  display: grid;
  row-gap: 5px;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 5px;
  position: relative;
  margin-top: 30px;
  font-weight: 15px;
  line-height: 1.1 !important;
  left: 5%;
  top: -4%;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 30px;
}
.sizer #inputs #input_line {
  display: flex;
  align-items: flex-start;
  font-size: small;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.sizer #inputs #input_line h5 {
  display: grid;
  width: 80px;
}
.sizer #inputs #input_line h5 #range {
  font-size: 11px !important;
  color: gray;
  font-weight: 100;
}
.sizer .errors {
  transition: height 0.6s ease;
  line-height: 20px;
}

@media (max-width: 767.98px) {
  .config_wrapper_sizer {
    order: 2;
  }
}
@keyframes attention {
  from {
    border: 1px dashed crimson;
  }
  to {
    border: 1px solid crimson;
  }
}/*# sourceMappingURL=Sizer.module.css.map */