$primary-color: navy;
$secondary-color: gold;

.banner{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 4vw;
    &_actions{
        height: 100px;
        display: flex;
        align-items: center;
        column-gap: 5px;
        button{
            display: grid;
            justify-items: center;
            row-gap: 5px;
            padding: 10px;
            padding-top: 7px;
            font-size: 14px;
            cursor: pointer;
            column-gap: 10px;
            border: none;
            border-radius: 7px;
            background: none;
            filter: brightness(0.6);
            &:hover{
                filter: brightness(0.8);
            }
        }
    }
}

.logo{
    display: flex;
    align-items: center;
    &_company_name{
        margin-top: 7px;
        margin-left: 4px;
    }
    h1{
        font-size: 40px;
        letter-spacing: -3.5px;
        color: $primary-color;
    }
    h2{
        color: $primary-color;
        font-size: 25px;
        letter-spacing: 3.5px;
        position: relative;
        top: -9px;
        left: 7px;
        opacity: 0.7;
    }
}