.container {
  padding: 50px 30px;
  h3 {
    background-color: #ffa500;
    color: white;
    max-width: 1000px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input[type='range'] {
    margin-top: 30px;
    width: 100%;
    max-width: 1000px;
    cursor: pointer;
  }
  &_manual {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    max-width: 1000px;
    input {
      width: 50px;
    }
  }
}
