$secondary-color: gold;
$shine-color: gold;
$summary-shade: rgb(230, 227, 227);

.stepWrapper {
  //border: 2px solid blue;
  overflow: hidden;
  position: relative;
  transition: all 0.1s ease-out;
  #leftArrow,
  #rightArrow {
    color: wheat;
    position: absolute;
    right: 0;
    top: 5%;
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      width: 10px;
      height: 21px;
      border-radius: 50%;
      position: absolute;
      right: 10px;
      box-shadow: -9px 0 1px 10px white;
      opacity: 0.95;
      display: none;
    }
    button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid var(--color-1);
      background-color: white;
      z-index: 4;
      box-shadow: 0 0 1px 10px white;
    }
  }
  #leftArrow {
    right: unset;
    left: 0;
    span {
      right: unset;
      left: 10px;
      box-shadow: 9px 0 1px 10px white;
    }
  }
}
.config_steps {
  display: flex;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40px;
  .complete,
  .next,
  .inactive,
  .selected_next,
  .selected_complete {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    font-size: calc(11px + 0.1vw);
    position: relative;
    padding: 5px 10px;
    color: whitesmoke;
    min-width: 170px;
    transition: all 0.4s ease;
    p {
      white-space: nowrap !important;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:hover {
      background-color: var(--color-2);
    }
    svg {
      filter: invert(100%);
    }
  }
  .selected_next {
    font-weight: bold;
    background: $secondary-color;
    color: black;
    svg {
      filter: none;
    }
  }
  .next {
    font-weight: bold;
    background: $secondary-color;
    span {
      display: inline-block;
    }
    color: black;
    svg {
      filter: none;
    }
  }
  .selected_complete {
    background: var(--color-2);
  }
  .complete {
    background: var(--color-1);
  }
  .inactive {
    background: rgba(100, 100, 100, 0.2);
    color: black;
    svg {
      filter: none;
    }
  }
}

.previousStep {
  margin-left: 5px;
  position: relative;
  top: -10px;
  border: none;
  height: 25px;
  border-radius: 15px;
  width: 170px;
  &:hover {
    background-color: var(--color-2);
    color: white;
  }
}
