.stepWrapper {
  overflow: hidden;
  position: relative;
  transition: all 0.1s ease-in-out;
  animation: expand 1s 1;
}
.stepWrapper #leftArrow,
.stepWrapper #rightArrow {
  color: wheat;
  position: absolute;
  right: 0;
  top: 5%;
  display: flex;
  align-items: center;
}
.stepWrapper #leftArrow button,
.stepWrapper #rightArrow button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--color-1);
  background-color: white;
  z-index: 4;
  box-shadow: 0 0 1px 8px white;
}
.stepWrapper #leftArrow {
  right: unset;
  left: 0;
}

.config_steps {
  display: flex;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30px;
}
.config_steps .complete,
.config_steps .next,
.config_steps .inactive,
.config_steps .selected_next,
.config_steps .selected_complete {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: calc(11px + 0.1vw);
  position: relative;
  padding: 5px 10px;
  color: whitesmoke;
  width: 30vw;
  min-width: 170px;
  transition: all 0.4s ease;
}
.config_steps .complete p,
.config_steps .next p,
.config_steps .inactive p,
.config_steps .selected_next p,
.config_steps .selected_complete p {
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.config_steps .complete:hover,
.config_steps .next:hover,
.config_steps .inactive:hover,
.config_steps .selected_next:hover,
.config_steps .selected_complete:hover {
  background-color: var(--color-2);
}
.config_steps .complete svg,
.config_steps .next svg,
.config_steps .inactive svg,
.config_steps .selected_next svg,
.config_steps .selected_complete svg {
  filter: invert(100%);
}
.config_steps .selected_next {
  font-weight: bold;
  background: gold;
  color: black;
}
.config_steps .selected_next svg {
  filter: none;
}
.config_steps .next {
  font-weight: bold;
  background: gold;
  color: black;
}
.config_steps .next span {
  display: inline-block;
}
.config_steps .next svg {
  filter: none;
}
.config_steps .selected_complete {
  background: var(--color-2);
}
.config_steps .complete {
  background: var(--color-1);
}
.config_steps .inactive {
  background: rgba(100, 100, 100, 0.2);
  color: black;
}
.config_steps .inactive svg {
  filter: none;
}

.step_actions {
  position: relative;
  padding-left: 5px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.step_actions .previousStep {
  border: none;
  border-radius: 15px;
  width: 170px;
  height: 25px;
}
.step_actions .previousStep:hover {
  background-color: var(--color-2);
  color: white;
}

.step_details {
  max-width: 500px;
  width: 90vw;
  min-height: 200px;
  padding: 20px;
  padding-top: 70px;
  display: grid;
  justify-items: center;
  border-radius: 20px;
  background-color: rgb(225, 222, 222);
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px 3px whitesmoke;
}
.step_details h2 {
  background-color: var(--color-1);
  position: absolute;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: salmon;
  font-weight: 400;
}

@keyframes expand {
  from {
    width: 170px;
  }
  to {
    width: 100%;
  }
}/*# sourceMappingURL=Stepper.module.css.map */