.outer {
  display: grid;
  position: relative;
}
.outer:hover .expand {
  display: inline-block;
}
.outer:hover .info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  display: none;
  cursor: zoom-in;
}
.expand svg {
  filter: drop-shadow(1px 0 black) drop-shadow(-1px 0 black) drop-shadow(0 1px black) drop-shadow(0 -1px black) drop-shadow(1px 1px black) drop-shadow(-1px -1px black) drop-shadow(1px -1px black) drop-shadow(-1px 1px black);
}

.info {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  display: none;
  background-color: black;
  border: 2px solid silver;
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.info:hover {
  transform: scale(1.2);
}

.details {
  max-width: 500px;
  width: 90vw;
  min-height: 200px;
  padding: 20px;
  padding-top: 70px;
  display: grid;
  justify-items: center;
  border-radius: 20px;
  background-color: rgb(225, 222, 222);
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px 3px whitesmoke;
}
.details h3 {
  background-color: var(--color-1);
  position: absolute;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: salmon;
  font-weight: 400;
}

.glow {
  background-color: white;
  padding: 15px;
  padding-bottom: 30px;
}
.glow img {
  width: 500px;
  height: auto;
}
.glow p {
  margin-top: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-size: larger;
  justify-content: center;
}

.option,
.option_withzoom,
.option_selected,
.option_selected_withzoom {
  max-width: 300px;
  text-align: center;
  border: 1px solid silver;
  position: relative;
  transition: all 0.4s ease;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.option:hover p,
.option_withzoom:hover p,
.option_selected:hover p,
.option_selected_withzoom:hover p {
  background-color: var(--color-1);
  color: whitesmoke;
  transition: all 0.4s ease;
  transition-delay: 0.1s;
}
.option img,
.option_withzoom img,
.option_selected img,
.option_selected_withzoom img {
  width: 100%;
  transition: all 0.2s ease;
  display: block;
}
.option #details,
.option_withzoom #details,
.option_selected #details,
.option_selected_withzoom #details {
  width: 100%;
  height: 70px;
  font-size: 13px;
  display: flex;
  align-items: center;
  font-weight: 300;
  padding: 0 5px;
  border-bottom: 1px solid silver;
}
.option p,
.option_withzoom p,
.option_selected p,
.option_selected_withzoom p {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 5px;
  width: 100%;
  position: relative;
  font-size: 14px;
  height: 70px;
}
.option p span,
.option_withzoom p span,
.option_selected p span,
.option_selected_withzoom p span {
  font-size: 12px;
  font-weight: 300;
}

.option_selected,
.option_selected_withzoom {
  border: 1px solid var(--color-2);
}
.option_selected p,
.option_selected_withzoom p {
  background-color: var(--color-2);
  color: white;
}

.option_withzoom:hover img,
.option_selected_withzoom:hover img {
  scale: 1.05;
}/*# sourceMappingURL=Option_Holder.module.css.map */