.layers {
  height: 60px;
  display: flex;
  align-items: center;
}
.layers button {
  border: none;
  width: 100%;
  color: whitesmoke;
  padding: 10px;
  font-size: medium;
  position: relative;
  background-color: var(--color-1);
}
.layers #active {
  background-color: var(--color-2);
}

.config {
  display: grid;
  grid-template-columns: 1fr 350px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  padding-top: 10px;
  min-height: 99vh;
}
.config .group {
  display: grid;
  grid-template-rows: 0fr;
  animation: rise 0.5s ease-out forwards;
}
.config .group > * {
  overflow-x: hidden;
}
.config_steps {
  display: flex;
  margin-bottom: 30px;
  height: 40px;
}
.config_steps .complete,
.config_steps .next,
.config_steps .inactive,
.config_steps .selected_next,
.config_steps .selected_complete {
  border: none;
  display: grid;
  align-items: center;
  justify-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
  font-size: calc(12px + 0.1vw);
  position: relative;
  padding: 5px 0;
  color: whitesmoke;
  flex: 1;
}
.config_steps .complete svg,
.config_steps .next svg,
.config_steps .inactive svg,
.config_steps .selected_next svg,
.config_steps .selected_complete svg {
  filter: invert(100%);
}
.config_steps .complete #anchor,
.config_steps .next #anchor,
.config_steps .inactive #anchor,
.config_steps .selected_next #anchor,
.config_steps .selected_complete #anchor {
  font-size: 30px;
  position: absolute;
  bottom: -30px;
  left: 42%;
  color: var(--color-1);
  display: none;
}
.config_steps .selected_next {
  font-weight: bold;
  background: gold;
  color: black;
}
.config_steps .selected_next #anchor {
  display: inline-block;
  color: gold;
}
.config_steps .selected_next svg {
  filter: none;
}
.config_steps .next {
  font-weight: bold;
  background: gold;
  color: black;
}
.config_steps .next span {
  display: inline-block;
}
.config_steps .next svg {
  filter: none;
}
.config_steps .selected_complete {
  background: var(--color-2);
}
.config_steps .selected_complete #anchor {
  display: inline-block;
  color: var(--color-2);
}
.config_steps .complete {
  background: var(--color-1);
}
.config_steps .inactive {
  background: rgba(100, 100, 100, 0.2);
  color: black;
}
.config_steps .inactive svg {
  filter: none;
}
.config_wrapper {
  width: 100%;
  display: flex;
  -moz-column-gap: 40px;
  column-gap: 40px;
  padding: 5px;
}
.config_wrapper_option_holders {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}
.config_wrapper_subcategories {
  width: 100%;
}
.config_wrapper_subcategories h2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-bottom: 20px;
}
.config_wrapper_subcategories #complete {
  background-color: var(--color-1);
  color: white;
}
.config_wrapper_subcategories #notcomplete {
  background-color: gold;
}
.config #summary {
  width: 350px;
  background-color: whitesmoke;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 120px;
  height: -moz-fit-content;
  height: fit-content;
}
.config #summary h2 {
  color: green;
}
.config #summary h2 span {
  color: black;
}
.config #summary h3 {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
}
.config #summary h4 {
  font-size: 12px;
}
.config #summary #items {
  padding: 0 10px;
}
.config #summary .item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  padding: 5px 0;
  font-size: small;
  cursor: pointer;
}
.config #summary .item:hover {
  background-color: silver;
}
.config #summary .item #title {
  font-size: 11px;
  font-weight: bold;
}
.config #summary .item #value {
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 15px;
  column-gap: 15px;
}
.config #summary .item #value svg:hover {
  color: crimson;
}
.config #summary #actions {
  display: grid;
  margin-top: 10px;
}
.config #summary #actions button {
  border: none;
  height: 35px;
  font-weight: bold;
}
.config #summary #actions button:hover {
  filter: brightness(1.1);
}
.config #summary #actions #add_to_chart {
  background-color: greenyellow;
}
.config #summary #actions #additional {
  background-color: gold;
}

@media (max-width: 767.98px) {
  .config #anchor {
    font-size: x-large !important;
    bottom: -25px !important;
  }
  .config_wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .config_wrapper_option_holders,
  .config_wrapper_subcategories {
    order: 2;
  }
  .config_wrapper #summary {
    order: 1 !important;
    width: 100%;
    max-width: 500px;
    position: unset !important;
    margin-bottom: 20px;
  }
  .config_wrapper #summary h3 {
    height: 40px;
    margin-bottom: 0;
  }
  .config_wrapper #summary .item {
    padding: 10px;
  }
}
@media (max-width: 575.98px) {
  .config #anchor {
    font-size: larger !important;
    bottom: -15px !important;
  }
  .config_wrapper #summary {
    order: 1 !important;
    width: 100%;
    position: unset !important;
    margin-bottom: 20px;
  }
  .config_wrapper #summary h3 {
    height: 40px;
    margin-bottom: 0;
  }
  .config_wrapper #summary .item {
    padding: 10px;
  }
}
@keyframes rise {
  from {
    grid-template-rows: 0fr;
  }
  to {
    grid-template-rows: 1fr;
  }
} /*# sourceMappingURL=KonfiguratorPage.module.css.map */
