.layers {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.layers button {
  border: none;
  width: 100%;
  color: whitesmoke;
  padding: 10px;
  font-size: medium;
  position: relative;
  background-color: var(--color-1);
}
.layers #active {
  background-color: var(--color-2);
}

.config {
  display: grid;
  grid-template-columns: calc(100% - 370px) 350px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  padding-top: 10px;
  min-height: 99vh;
  align-items: start;
  margin-top: 10px;
}
.config .group {
  display: grid;
  grid-template-rows: 0fr;
  animation: rise 0.7s ease forwards;
  padding-bottom: 10px;
  position: relative;
}
.config_wrapper {
  width: 100%;
  display: flex;
  -moz-column-gap: 40px;
  column-gap: 40px;
  padding: 5px;
}
.config_wrapper_option_holders {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}
.config_wrapper_subcategories {
  width: 100%;
}
.config_wrapper_subcategories h2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-bottom: 20px;
  font-size: medium;
}
.config_wrapper #complete {
  background-color: var(--color-1);
  color: white;
}
.config_wrapper #notcomplete {
  background-color: gold;
}
.config #summary {
  width: 350px;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 100px;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid var(--color-1);
}
.config #summary h2 {
  color: green;
}
.config #summary h2 span {
  color: black;
}
.config #summary h3 {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 230, 230);
}
.config #summary h4 {
  font-size: 12px;
}
.config #summary #items {
  padding: 0 10px;
}
.config #summary #items,
.config #summary .expanded,
.config #summary .collapsed {
  overflow: hidden;
  margin-bottom: 5px;
}
.config #summary #items button,
.config #summary .expanded button,
.config #summary .collapsed button {
  background-color: rgb(230, 227, 227);
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 11px;
  justify-content: center;
  border: none;
  padding-right: 30px;
  position: relative;
}
.config #summary #items button svg,
.config #summary .expanded button svg,
.config #summary .collapsed button svg {
  position: absolute;
  right: 10px;
}
.config #summary #items button:hover,
.config #summary .expanded button:hover,
.config #summary .collapsed button:hover {
  filter: brightness(0.9);
}
.config #summary .collapsed {
  height: 25px;
}
.config #summary .item,
.config #summary .itemGrid {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  padding: 5px 0;
  font-size: small;
  cursor: pointer;
}
.config #summary .item:hover,
.config #summary .itemGrid:hover {
  background-color: rgba(135, 206, 235, 0.4);
}
.config #summary .item #title,
.config #summary .itemGrid #title {
  font-size: 11px;
  font-weight: 500;
}
.config #summary .item #value,
.config #summary .itemGrid #value {
  font-size: 12px;
}
.config #summary .itemGrid {
  display: grid;
  justify-content: unset;
}
.config #summary .itemGrid #value {
  padding-left: 8px;
  margin-top: 3px;
  text-align: end;
}
.config #summary #note {
  padding: 5px 10px;
  height: auto;
  margin-top: 10px;
}
.config #summary #note textarea {
  background-color: rgb(243, 240, 240);
  border: 1px solid silver;
  padding: 3px;
  padding-left: 5px;
  resize: none;
  font-size: small;
  width: 100%;
  height: 50px;
}
.config #summary #actions {
  display: grid;
  padding: 10px;
}
.config #summary #actions button {
  border: none;
  height: 35px;
  font-weight: bold;
  transition: all 0.4s ease;
}
.config #summary #actions #add_to_chart {
  background-color: var(--color-2);
  color: white;
}
.config #summary #actions #add_to_chart:hover {
  background-color: var(--color-1);
}
.config #summary #actions #additional {
  background-color: gold;
}

@media (max-width: 767.98px) {
  .config #anchor {
    font-size: x-large !important;
    bottom: -25px !important;
  }
  .config_wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .config_wrapper_option_holders,
  .config_wrapper_subcategories {
    order: 2;
  }
  .config_wrapper #summary {
    order: 1 !important;
    width: 100%;
    max-width: 500px;
    position: unset !important;
    margin-bottom: 20px;
  }
  .config_wrapper #summary h3 {
    height: 40px;
    margin-bottom: 0;
  }
  .config_wrapper #summary .item {
    padding: 10px;
  }
}
@media (max-width: 575.98px) {
  .config #anchor {
    font-size: larger !important;
    bottom: -15px !important;
  }
  .config_wrapper #summary {
    order: 1 !important;
    width: 100%;
    position: unset !important;
    margin-bottom: 20px;
  }
  .config_wrapper #summary h3 {
    height: 40px;
    margin-bottom: 0;
  }
  .config_wrapper #summary .item {
    padding: 10px;
  }
}
@keyframes rise {
  from {
    grid-template-rows: 0fr;
  }
  to {
    grid-template-rows: 1fr;
  }
} /*# sourceMappingURL=KonfiguratorPage.module.css.map */
