$primary-color: navy;
$secondary-color: gold;
$shine-color: #00ff36;
.config{
    min-height: 700px;
    padding-top: 50px;
    &_steps{
        padding: 10px 0;
        display: flex;
        margin: 20px 0;
        margin-bottom: 30px;
        height: 80px;
        position: relative;
        .complete, .next, .inactive, .selected_next, .selected_complete{
            border: none;
            display: grid;
            align-items: center;
            justify-items: center;
            column-gap: 10px;
            font-size: calc(12px + 0.1vw);
            position: relative;
            padding: 5px 0;
            color: whitesmoke;
            width: 20vw;
            max-width: 250px;
            svg{
                filter: invert(100%);
            }
            #anchor{
                font-size: 40px;
                position: absolute;
                bottom: -35px;
                left: 42%;
                color: $primary-color;
                display: none;
            }
        }
        .selected_next{
            border: 3px solid $shine-color;
            font-weight: bold;
            background: $secondary-color;
            color: black;
            #anchor{
                display: inline-block;
                color: $secondary-color;
            }
            svg{
                filter: none;
            }
        }
        .next{
            font-weight: bold;
            background: $secondary-color;
            span{
                display: inline-block;
            }
            color: black;
            svg{
                filter: none;
            }
        }
        .selected_complete{
            border: 3px solid $shine-color;
            background: $primary-color;
            #anchor{
                display: inline-block;
            }
        }
        .complete{
            background: $primary-color;
        }
        .inactive{
            background: rgba(100, 100, 100, 0.2);
            color: black;
            svg{
                filter: none;
            }
        }
        &_summary{
            width: 100%;
            max-width: 400px;
            position: absolute;
            right: 0;
            h2{
                background-color: gold;
                height: 60px;
                margin-bottom: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &_item{
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid silver;
                width: 100%;
                max-width: 250px;
                justify-self: flex-end;
                div{
                    width: 30%;
                }
                img{

                }
            }
        }
    }
    &_option_holders{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));          
        gap: 20px; 
        position: relative;
    }
    &_sizer{
        display: flex;
        column-gap: 1vw;
        padding-bottom: 40px;
        padding-right: 20px;
        #left{
            width: 400px;
            h3{
                color: gray;
            }
            #entries{
                display: grid;
                margin-top: 40px;
                label{
                    line-height: 30px;
                    font-size: 15px;
                    font-weight: bold;
                }
                input{
                    height: 40px;
                    padding-left: 10px;
                }
            }
        }
        #right{
            padding-left: 40px;
            padding-top: 40px;
            padding-right: 40px;
            position: relative;
            #ruler_w, #ruler_h{
                position: absolute;
                left: 0; top: 0;
                width: 100%;
            }
            #ruler_h{
                top: unset;
                left: 48%;
                top: 60%;
                object-fit: cover;
                transform: rotate(90deg);
            }
        }
    }
}